centros-educativos-backend/siges-centros-educativos/src/wsdl/siges_8079/pfea/SigesFirmaServerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.firma.siges.sv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SigesFirmaServerWS" targetNamespace="http://ws.firma.siges.sv/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.firma.siges.sv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.firma.siges.sv/">
  <xs:element name="enviarDocumentoParaFirmar" type="tns:enviarDocumentoParaFirmar"/>
  <xs:element name="enviarDocumentoParaFirmarResponse" type="tns:enviarDocumentoParaFirmarResponse"/>
  <xs:element name="obtenerDocumentoFirmado" type="tns:obtenerDocumentoFirmado"/>
  <xs:element name="obtenerDocumentoFirmadoResponse" type="tns:obtenerDocumentoFirmadoResponse"/>
  <xs:complexType name="obtenerDocumentoFirmado">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="nombreArchivo" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="nombreSistema" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="idDocumento" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDocumentoFirmadoResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="respuesta" type="tns:resultadoValidacion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoValidacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="docIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="pdf" nillable="true" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarDocumentoParaFirmar">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="nombreArchivo" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="nombreSistema" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="urlRetorno" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="urlRetornoNavegacion" type="xs:string"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="documentos" type="xs:base64Binary"/>
      <xs:element form="qualified" minOccurs="0" name="enviadoPorUsuario" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="debeFirmarUsuario" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarDocumentoParaFirmarResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="respuesta" type="tns:resultadoValidacion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IOException" type="tns:IOException"/>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamingException" type="tns:NamingException"/>
  <xs:complexType name="NamingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="resolvedObj" type="xs:anyType"/>
      <xs:element minOccurs="0" name="explanation" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="enviarDocumentoParaFirmarResponse">
    <wsdl:part element="tns:enviarDocumentoParaFirmarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDocumentoFirmadoResponse">
    <wsdl:part element="tns:obtenerDocumentoFirmadoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDocumentoFirmado">
    <wsdl:part element="tns:obtenerDocumentoFirmado" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part element="tns:IOException" name="IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NamingException">
    <wsdl:part element="tns:NamingException" name="NamingException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarDocumentoParaFirmar">
    <wsdl:part element="tns:enviarDocumentoParaFirmar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SigesFirmaServer">
    <wsdl:operation name="obtenerDocumentoFirmado">
      <wsdl:input message="tns:obtenerDocumentoFirmado" name="obtenerDocumentoFirmado" wsam:Action="http://ws.firma.siges.sv/SigesFirmaWS/obtenerDocumentoFirmadoRequest" wsaw:Action="http://ws.firma.siges.sv/SigesFirmaWS/obtenerDocumentoFirmadoRequest">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDocumentoFirmadoResponse" name="obtenerDocumentoFirmadoResponse" wsam:Action="http://ws.firma.siges.sv/SigesFirmaWS/obtenerDocumentoFirmadoResponse" wsaw:Action="http://ws.firma.siges.sv/SigesFirmaWS/obtenerDocumentoFirmadoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException" wsam:Action="http://ws.firma.siges.sv/SigesFirmaServer/obtenerDocumentoFirmado/Fault/IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enviarDocumentoParaFirmar">
      <wsdl:input message="tns:enviarDocumentoParaFirmar" name="enviarDocumentoParaFirmar" wsam:Action="http://ws.firma.siges.sv/SigesFirmaWS/enviarDocumentoParaFirmarRequest" wsaw:Action="http://ws.firma.siges.sv/SigesFirmaWS/enviarDocumentoParaFirmarRequest">
    </wsdl:input>
      <wsdl:output message="tns:enviarDocumentoParaFirmarResponse" name="enviarDocumentoParaFirmarResponse" wsam:Action="http://ws.firma.siges.sv/SigesFirmaWS/enviarDocumentoParaFirmarResponse" wsaw:Action="http://ws.firma.siges.sv/SigesFirmaWS/enviarDocumentoParaFirmarResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NamingException" name="NamingException" wsam:Action="http://ws.firma.siges.sv/SigesFirmaServer/enviarDocumentoParaFirmar/Fault/NamingException">
    </wsdl:fault>
      <wsdl:fault message="tns:IOException" name="IOException" wsam:Action="http://ws.firma.siges.sv/SigesFirmaServer/enviarDocumentoParaFirmar/Fault/IOException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SigesFirmaServerWSSoapBinding" type="tns:SigesFirmaServer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerDocumentoFirmado">
      <soap:operation soapAction="http://ws.firma.siges.sv/SigesFirmaWS/obtenerDocumentoFirmadoRequest" style="document"/>
      <wsdl:input name="obtenerDocumentoFirmado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDocumentoFirmadoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enviarDocumentoParaFirmar">
      <soap:operation soapAction="http://ws.firma.siges.sv/SigesFirmaWS/enviarDocumentoParaFirmarRequest" style="document"/>
      <wsdl:input name="enviarDocumentoParaFirmar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enviarDocumentoParaFirmarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NamingException">
        <soap:fault name="NamingException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SigesFirmaServerWS">
    <wsdl:port binding="tns:SigesFirmaServerWSSoapBinding" name="SigesFirmaServerWSPort">
      <soap:address location="http://95cb55ca71ef:8080/pfea/SigesFirmaServerWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>