centros-educativos-backend/siges-centros-educativos/src/wsdl/pfea-test-web.sofis.com.uy/pfea/web/AgesicFirmaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.firma.agesic.gub.uy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AgesicFirmaWS" targetNamespace="http://ws.firma.agesic.gub.uy/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.firma.agesic.gub.uy/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.firma.agesic.gub.uy/">
  <xs:element name="comunicarDocumentos" type="tns:comunicarDocumentos"/>
  <xs:element name="comunicarDocumentosResponse" type="tns:comunicarDocumentosResponse"/>
  <xs:element name="enviarDocumentoParaFirmar" type="tns:enviarDocumentoParaFirmar"/>
  <xs:element name="enviarDocumentoParaFirmarResponse" type="tns:enviarDocumentoParaFirmarResponse"/>
  <xs:element name="obtenerDocumentoFirmado" type="tns:obtenerDocumentoFirmado"/>
  <xs:element name="obtenerDocumentoFirmadoResponse" type="tns:obtenerDocumentoFirmadoResponse"/>
  <xs:element name="obtenerDocumentos" type="tns:obtenerDocumentos"/>
  <xs:element name="obtenerDocumentosResponse" type="tns:obtenerDocumentosResponse"/>
  <xs:complexType name="obtenerDocumentos">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id_transaccion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDocumentosResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="respuesta" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDocumentoFirmado">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="paisDocumento" type="tns:docPaisEmisor"/>
      <xs:element form="qualified" minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento"/>
      <xs:element form="qualified" minOccurs="0" name="numeroDocumento" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="nombreArchivo" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="nombreSistema" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="idDocumento" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDocumentoFirmadoResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="respuesta" type="tns:resultadoValidacion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoValidacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="docIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="pdf" nillable="true" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comunicarDocumentos">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id_transaccion" type="xs:string"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="documentos" type="xs:base64Binary"/>
      <xs:element form="qualified" minOccurs="0" name="certificate" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comunicarDocumentosResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="respuesta" type="tns:resultadoValidacion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarDocumentoParaFirmar">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="paisDocumento" type="tns:docPaisEmisor"/>
      <xs:element form="qualified" minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento"/>
      <xs:element form="qualified" minOccurs="0" name="numeroDocumento" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="nombreArchivo" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="nombreSistema" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="firmaTercero" type="xs:boolean"/>
      <xs:element form="qualified" minOccurs="0" name="urlRetorno" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="urlRetornoNavegacion" type="xs:string"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="documentos" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarDocumentoParaFirmarResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="respuesta" type="tns:resultadoValidacion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="docPaisEmisor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="uy"/>
      <xs:enumeration value="ar"/>
      <xs:enumeration value="br"/>
      <xs:enumeration value="py"/>
      <xs:enumeration value="bo"/>
      <xs:enumeration value="cl"/>
      <xs:enumeration value="co"/>
      <xs:enumeration value="ec"/>
      <xs:enumeration value="pe"/>
      <xs:enumeration value="ve"/>
      <xs:enumeration value="otro"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ci"/>
      <xs:enumeration value="dni"/>
      <xs:enumeration value="ric"/>
      <xs:enumeration value="cie"/>
      <xs:enumeration value="cin"/>
      <xs:enumeration value="cc"/>
      <xs:enumeration value="ti"/>
      <xs:enumeration value="ce"/>
      <xs:enumeration value="psp"/>
      <xs:enumeration value="otro"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IOException" type="tns:IOException"/>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamingException" type="tns:NamingException"/>
  <xs:complexType name="NamingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="resolvedObj" type="xs:anyType"/>
      <xs:element minOccurs="0" name="explanation" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="IOException">
    <wsdl:part element="tns:IOException" name="IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NamingException">
    <wsdl:part element="tns:NamingException" name="NamingException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDocumentosResponse">
    <wsdl:part element="tns:obtenerDocumentosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDocumentoFirmado">
    <wsdl:part element="tns:obtenerDocumentoFirmado" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarDocumentoParaFirmar">
    <wsdl:part element="tns:enviarDocumentoParaFirmar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDocumentos">
    <wsdl:part element="tns:obtenerDocumentos" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comunicarDocumentos">
    <wsdl:part element="tns:comunicarDocumentos" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDocumentoFirmadoResponse">
    <wsdl:part element="tns:obtenerDocumentoFirmadoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comunicarDocumentosResponse">
    <wsdl:part element="tns:comunicarDocumentosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarDocumentoParaFirmarResponse">
    <wsdl:part element="tns:enviarDocumentoParaFirmarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AgesicFirma">
    <wsdl:operation name="obtenerDocumentos">
      <wsdl:input message="tns:obtenerDocumentos" name="obtenerDocumentos">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDocumentosResponse" name="obtenerDocumentosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDocumentoFirmado">
      <wsdl:input message="tns:obtenerDocumentoFirmado" name="obtenerDocumentoFirmado" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosRequest" wsaw:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosRequest">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDocumentoFirmadoResponse" name="obtenerDocumentoFirmadoResponse" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosResponse" wsaw:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirma/obtenerDocumentoFirmado/Fault/IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="comunicarDocumentos">
      <wsdl:input message="tns:comunicarDocumentos" name="comunicarDocumentos" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosRequest" wsaw:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosRequest">
    </wsdl:input>
      <wsdl:output message="tns:comunicarDocumentosResponse" name="comunicarDocumentosResponse" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosResponse" wsaw:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IOException" name="IOException" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirma/comunicarDocumentos/Fault/IOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enviarDocumentoParaFirmar">
      <wsdl:input message="tns:enviarDocumentoParaFirmar" name="enviarDocumentoParaFirmar" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosRequest" wsaw:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosRequest">
    </wsdl:input>
      <wsdl:output message="tns:enviarDocumentoParaFirmarResponse" name="enviarDocumentoParaFirmarResponse" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosResponse" wsaw:Action="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NamingException" name="NamingException" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirma/enviarDocumentoParaFirmar/Fault/NamingException">
    </wsdl:fault>
      <wsdl:fault message="tns:IOException" name="IOException" wsam:Action="http://ws.firma.agesic.gub.uy/AgesicFirma/enviarDocumentoParaFirmar/Fault/IOException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AgesicFirmaWSSoapBinding" type="tns:AgesicFirma">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerDocumentos">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDocumentos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDocumentosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDocumentoFirmado">
      <soap:operation soapAction="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosRequest" style="document"/>
      <wsdl:input name="obtenerDocumentoFirmado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDocumentoFirmadoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="comunicarDocumentos">
      <soap:operation soapAction="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosRequest" style="document"/>
      <wsdl:input name="comunicarDocumentos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="comunicarDocumentosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enviarDocumentoParaFirmar">
      <soap:operation soapAction="http://ws.firma.agesic.gub.uy/AgesicFirmaWS/comunicarDocumentosRequest" style="document"/>
      <wsdl:input name="enviarDocumentoParaFirmar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enviarDocumentoParaFirmarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NamingException">
        <soap:fault name="NamingException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgesicFirmaWS">
    <wsdl:port binding="tns:AgesicFirmaWSSoapBinding" name="AgesicFirmaWSPort">
      <soap:address location="http://967ff44a9a12:8080/pfea/web/AgesicFirmaWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>